In [30]:
import pandas as pd
import requests
import numpy as np

# Because NHS cannot properly write their dataset correctly, we are using the below functions to convert the dataset
def generate_year_month(start_year, start_month, num_sets):
    year, month = start_year, start_month
    for _ in range(num_sets):
        yield year, month
        month += 1
        if month > 12:
            month = 1
            year += 1

def generate_df(df, year, month):
    case_columns = df.columns[4:]
    num_sets = len(case_columns) // 3

    new_data = []
    for _, row in df.iterrows():
        base_info = row[:4].tolist()
        year_month_gen = generate_year_month(year-1, month, num_sets)
        for i in range(0, len(case_columns), 3):
            year, month = next(year_month_gen)
            new_data.extend([
                base_info + [year, month, 'Total cases', row[case_columns[i]]],
                base_info + [year, month, 'Hospital-onset', row[case_columns[i+1]]],
                base_info + [year, month, 'Community-onset', row[case_columns[i+2]]]
            ])

    # Create the new DataFrame
    new_columns = ['Organisation code', 'Organisation type', 'PHE Centre', 'Organisation name', 'Year', 'Month', 'Metric', 'Figure']
    new_df  = pd.DataFrame(new_data, columns=new_columns)
    new_df  = new_df.sort_values(['Organisation name', 'Year', 'Month', 'Metric'])
    new_df  = new_df.reset_index(drop=True)
    return new_df

In [40]:
jan2018 = generate_df(pd.read_csv("data\\Jan2018.csv"), 2018, 1)
feb2018 = generate_df(pd.read_csv("data\\Feb2018.csv"), 2018, 2)
mar2018 = generate_df(pd.read_csv("data\\March2018.csv"), 2018, 3)
apr2018 = generate_df(pd.read_csv("data\\Apr2018.csv"), 2018, 4)
may2018 = generate_df(pd.read_csv("data\\May2018.csv"), 2018, 5)
june2018 = generate_df(pd.read_csv("data\\June2018.csv"), 2018, 6)
july2018 = generate_df(pd.read_csv("data\\July2018.csv"), 2018, 7)
aug2018 = generate_df(pd.read_csv("data\\Aug2018.csv"), 2018, 8)
sept2018 = generate_df(pd.read_csv("data\\Sept2018.csv"), 2018, 9)
oct2018 = generate_df(pd.read_csv("data\\Oct2018.csv"), 2018, 10)
nov2018 = generate_df(pd.read_csv("data\\Nov2018.csv"), 2018, 11)
dec2018 = generate_df(pd.read_csv("data\\Dec2018.csv"), 2018, 12)

df2018 = pd.concat([jan2018, feb2018, mar2018, apr2018, may2018, june2018, july2018, aug2018, sept2018, oct2018, nov2018, dec2018]).drop_duplicates().reset_index(drop=True)

,Organisation code,Organisation type,PHE Centre,Organisation name,Year,Month,Metric,Figure
0,REM,FT,North West,Aintree University Hospital,2017,1,Community-onset,17
1,REM,FT,North West,Aintree University Hospital,2017,1,Hospital-onset,7
2,REM,FT,North West,Aintree University Hospital,2017,1,Total cases,24
3,REM,FT,North West,Aintree University Hospital,2017,2,Community-onset,15
4,REM,FT,North West,Aintree University Hospital,2017,2,Hospital-onset,3

In [ ]:
jan2019 = pd.read_csv("data\\Jan2019.csv")
feb2019 = pd.read_csv("data\\Feb2019.csv")
mar2019 = pd.read_csv("data\\March2019.csv")
apr2019 = pd.read_csv("data\\Apr2019.csv")
may2019 = pd.read_csv("data\\May2019.csv")
june2019 = pd.read_csv("data\\June2019.csv")
july2019 = pd.read_csv("data\\July2019.csv")
aug2019 = pd.read_csv("data\\Aug2019.csv")
sept2019 = pd.read_csv("data\\Sept2019.csv")
oct2019 = pd.read_csv("data\\Oct2019.csv")
nov2019 = pd.read_csv("data\\Nov2019.csv")
dec2019 = pd.read_csv("data\\Dec2019.csv")

jan2019 = generate_df(jan2019, 2019, 1)
feb2019 = generate_df(feb2019, 2019, 2)
df2019 = pd.concat([jan2019, feb2019, mar2019, apr2019, may2019, june2019, july2019, aug2019, sept2019, oct2019, nov2019, dec2019]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection"], axis=1)

df2019.head()

In [ ]:
jan2020 = pd.read_csv("data\\Jan2020.csv")
feb2020 = pd.read_csv("data\\Feb2020.csv")
mar2020 = pd.read_csv("data\\March2020.csv")
apr2020 = pd.read_csv("data\\Apr2020.csv")
may2020 = pd.read_csv("data\\May2020.csv")
june2020 = pd.read_csv("data\\June2020.csv")
july2020 = pd.read_csv("data\\July2020.csv")
aug2020 = pd.read_csv("data\\Aug2020.csv")
sept2020 = pd.read_csv("data\\Sept2020.csv")
oct2020 = pd.read_csv("data\\Oct2020.csv")
nov2020 = pd.read_csv("data\\Nov2020.csv")
dec2020 = pd.read_csv("data\\Dec2020.csv")


df2020 = pd.concat([jan2020,feb2020, mar2020, apr2020, may2020, june2020, july2020, aug2020, sept2020, oct2020, nov2020, dec2020]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection", "STP"], axis=1)

df2020.head()

In [ ]:
jan2021 = pd.read_csv("data\\Jan2021.csv")
feb2021 = pd.read_csv("data\\Feb2021.csv")
mar2021 = pd.read_csv("data\\March2021.csv")
apr2021 = pd.read_csv("data\\Apr2021.csv")
may2021 = pd.read_csv("data\\May2021.csv")
june2021 = pd.read_csv("data\\June2021.csv")
july2021 = pd.read_csv("data\\July2021.csv")
aug2021 = pd.read_csv("data\\Aug2021.csv")
sept2021 = pd.read_csv("data\\Sept2021.csv")
oct2021 = pd.read_csv("data\\Oct2021.csv")
nov2021 = pd.read_csv("data\\Nov2021.csv")
dec2021 = pd.read_csv("data\\Dec2021.csv")

df2021 = pd.concat([jan2021,feb2021, mar2021, apr2021, may2021, june2021, july2021, aug2021, sept2021, oct2021, nov2021, dec2021]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection"], axis=1)


df2021.describe()

In [ ]:
jan2022 = pd.read_csv("data\\Jan2022.csv")
feb2022 = pd.read_csv("data\\Feb2022.csv")
mar2022 = pd.read_csv("data\\March2022.csv")
apr2022 = pd.read_csv("data\\Apr2022.csv")
may2022 = pd.read_csv("data\\May2022.csv")
june2022 = pd.read_csv("data\\June2022.csv")
july2022 = pd.read_csv("data\\July2022.csv")
aug2022 = pd.read_csv("data\\Aug2022.csv")
sept2022 = pd.read_csv("data\\Sept2022.csv")
oct2022 = pd.read_csv("data\\Oct2022.csv")
nov2022 = pd.read_csv("data\\Nov2022.csv")
dec2022 = pd.read_csv("data\\Dec2022.csv")

df2022 = pd.concat([jan2022,feb2022, mar2022, apr2022, may2022, june2022, july2022, aug2022, sept2022, oct2022, nov2022, dec2022]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection"], axis=1)

df2022[(df2022["Organisation name"] == " Kirklees") & (df2022["Metric"] == "Community-onset, community associated")]

In [ ]:
jan2023 = pd.read_csv("data\\Jan2023.csv")
feb2023 = pd.read_csv("data\\Feb2023.csv")
mar2023 = pd.read_csv("data\\March2023.csv")
apr2023 = pd.read_csv("data\\Apr2023.csv")
may2023 = pd.read_csv("data\\May2023.csv")
june2023 = pd.read_csv("data\\June2023.csv")
july2023 = pd.read_csv("data\\July2023.csv")
aug2023 = pd.read_csv("data\\Aug2023.csv")
sept2023 = pd.read_csv("data\\Sept2023.csv")
oct2023 = pd.read_csv("data\\Oct2023.csv")
nov2023 = pd.read_csv("data\\Nov2023.csv")
dec2023 = pd.read_csv("data\\Dec2023.csv")

df2023 = pd.concat([jan2023,feb2023, mar2023, apr2023, may2023, june2023, july2023, aug2023, sept2023, oct2023, nov2023, dec2023]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection"], axis=1) 

df2023.head()

In [ ]:
jan2024 = pd.read_csv("data\\Jan2024.csv")
feb2024 = pd.read_csv("data\\Feb2024.csv")
mar2024 = pd.read_csv("data\\March2024.csv")
apr2024 = pd.read_csv("data\\Apr2024.csv")
may2024 = pd.read_csv("data\\May2024.csv")

df2024 = pd.concat([jan2024,feb2024, mar2024, apr2024, may2024]).drop_duplicates().reset_index(drop=True).drop(["Data signed off", "Data changed since last publication?", "Collection"], axis=1)

In [ ]:
df = pd.concat([df2024, df2023, df2022, df2021, df2020, df2019]).drop_duplicates().reset_index(drop=True)

table = df.pivot_table(values="Figure", index=["Organisation code", "Year", "Month", "Organisation name"], columns="Metric").reset_index()

metrics = ['Community-onset', 'Community-onset, community associated',
          'Community-onset, healthcare associated',
          'Community-onset, indeterminate association', 'Hospital-onset',
          'Hospital-onset, healthcare associated', 'No information',
          'Total cases', 'Unknown', 'Unknown 1 months', 'Unknown 3 months']

table[metrics] = table[metrics].apply(np.floor)
table = table.replace(np.nan, 0)
table['Unknown'] = table["Unknown 1 months"] + table["Unknown 3 months"]
table.drop(["Unknown 3 months", "Unknown 1 months"], axis=1, inplace=True)

In [ ]:
api_url = "https://directory.spineservices.nhs.uk/ORD/2-0-0/organisations/"
uniques_code = set(table["Organisation code"])
code_dict = {}
for code in uniques_code:
    response = requests.get(api_url+code)
    json = response.json()
    if response.status_code == 200:
        postcode = json["Organisation"]["GeoLoc"]["Location"]["PostCode"]
        code_dict.update({code:postcode})
    else:
        print(code)
        print(json)

table["zipcode"] = table["Organisation code"].apply(code_dict.get)

In [ ]:
table.to_csv("C:\\Users\\samue\\DataspellProjects\\ecoli_analysis\\test.csv")